@import "tailwindcss";

@theme {
  --color-primary: #b68d40;
  --color-primary-dark: #7a6532;
  --color-secondary: #403737;
  --colo-white: #ffffff;
  --color-black: #000000;
  --color-gray: #858585;
  --font-family: "Cormorant Garamond", serif;
  --animate-slide: scroll 30s linear infinite;
  @keyframes slide {
    0%: {
      transform: "translateX(0)";
    }
    100%: {
      transform: "translateX(-50%)";
    }
  }
}

html {
  font-family: var(--font-family);
  overflow: hidden;
}

@keyframes portalZoomIn {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes portalZoomOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.7);
    opacity: 0;
  }
}

.portal-zoom-in {
  animation: portalZoomIn 0.4s ease-out forwards;
}

.portal-zoom-out {
  animation: portalZoomOut 0.3s ease-in forwards;
}
