@import "tailwindcss";

@theme {
  --color-primary: #b68d40;
  --color-primary-dark: #7a6532;
  --color-secondary: #403737;
  --colo-white: #ffffff;
  --color-black: #000000;
  --color-gray: #858585;
  --font-family: "Cormorant Garamond", serif;
}
html {
  font-family: var(--font-family);
}
